#carousel .carousel-item.boat {
    background-image: url("images/Desktop\ -\ 1\ \(1\).png");
  }
  
  #carousel .carousel-item.sea {
    background-image: url("images/Desktop\ -\ 2.png");
  }
  
  #carousel .carousel-item.river {
    background-image: url("images/Desktop\ -\ 3.png");
  }
  
  #carousel .carousel-item {
    height: 100vh;
    width: 100%;
    background: no-repeat center center scroll;
    background-size: cover;
    margin-top: -20px;
  }
  
  #carousel .carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
  }
  
  #carousel .carousel-item .caption {
    /* background-color: rgba(243, 237, 237, 0.5); */
    padding: 40px;
    color: white;
    animation-duration: 1s;
    animation-delay: 2s;
  }
  
  #carousel .caption h2 {
    animation-duration: 1s;
    animation-delay: 2s;
  }
  
  #carousel .caption p {
    animation-duration: 1s;
    animation-delay: 2.2s;
  }
  
  #carousel .caption a {
    animation-duration: 1s;
    animation-delay: 2.4s;
  }
  
  /* Button */
  .delicious-btn {
    display: inline-block;
    min-width: 160px;
    height: 60px;
    color: #ece1e1 !important;
    border: none;
    border-left: 3px solid white !important;
    border-radius: 0;
    padding: 0 30px !important;
    font-size: 16px !important;
    line-height: 58px !important;
    font-weight: 600 !important;
    -webkit-transition-duration: 500ms !important;
    transition-duration: 500ms !important;
    text-transform: capitalize !important;
    background-color:rgb(7, 7, 102) !important;
  }
  
  .delicious-btn.active, .delicious-btn:hover, .delicious-btn:focus {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: rgb(31, 31, 149);
    border-color: white;
  }
@media(max-width: 736px){
  #carousel .carousel-item {
    height: 50vh;
    width: 100%;
    background: no-repeat center center scroll;
    background-size: cover;
    margin-top: -20px;
  }
}
@media(max-width: 912px){
  #carousel .carousel-item {
    height: 50vh;
    width: 100%;
    background: no-repeat center center scroll;
    background-size: cover;
  }
}
